<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel Cinematic Universe - Phase 1</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/styles.css">
    <script src="https://www.gstatic.com/firebasejs/9.8.4/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.8.4/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.8.4/firebase-auth-compat.js"></script>
</head>

<body>
    <header>
        <h1 class="display-4">Phase 1</h1>
    </header>

    <nav><%- include('partials/header') %> </nav>

    <section>
        <h2>Movies in Phase 1</h2>
        <ul class="list-group">
            <li class="list-group-item"><strong>Iron Man</strong> - Directed by Jon Favreau</li>
            <li class="list-group-item"><strong>The Incredible Hulk</strong> - Directed by Louis Leterrier</li>
            <li class="list-group-item"><strong>Iron Man 2</strong> - Directed by Jon Favreau</li>
            <li class="list-group-item"><strong>Thor</strong> - Directed by Kenneth Branagh</li>
            <li class="list-group-item"><strong>Captain America: The First Avenger</strong> - Directed by Joe Johnston</li>
            <li class="list-group-item"><strong>The Avengers</strong> - Directed by Joss Whedon</li>
        </ul>
        
    </section>

    <section class="container">
        <h2 class="h2">Phase 1 Overview</h2>
        <p class="lead">Phase 1 of the Marvel Cinematic Universe introduced audiences to key characters and set the stage for the epic storylines to come. It began with Iron Man in 2008 and concluded with The Avengers in 2012.</p>
        <img src="/Images/180816avengers.webp" class="img-fluid rounded mx-auto d-block" alt="Phase 1 Poster">
        <p>Phase 1 was characterized by the formation of the Avengers Initiative, the introduction of the Tesseract, and the emergence of villains like Loki and the Red Skull.</p>
        <p>This phase also introduced post-credit scenes that tease future films and expanded the idea of a connected cinematic universe.</p>
    </section>
    

    <footer>
        <p>&copy; 2024 Marvel Studios. All rights reserved.</p>
    </footer>


    <script src="/JS/scripts.js"></script>
    <script src="/JS/script.js"></script>
</body>

</html>