<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel Cinematic Universe - Phase 2</title>
    <link rel="stylesheet" href="/CSS/styles.css">
    <script src="https://www.gstatic.com/firebasejs/9.8.4/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.8.4/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.8.4/firebase-auth-compat.js"></script>
</head>
<body>
    <header>
        <h1>Phase 2</h1>
    </header>

    <nav><%- include('partials/header') %> </nav>
    
    <section class="container">
        <h2 class="h2">Movies in Phase 2</h2>
        <ul class="list-group">
            <li class="list-group-item"><strong>Iron Man 3</strong> - Directed by Shane Black</li>
            <li class="list-group-item"><strong>Thor: The Dark World</strong> - Directed by Alan Taylor</li>
            <li class="list-group-item"><strong>Captain America: The Winter Soldier</strong> - Directed by Anthony & Joe Russo</li>
            <li class="list-group-item"><strong>Guardians of the Galaxy</strong> - Directed by James Gunn</li>
            <li class="list-group-item"><strong>Avengers: Age of Ultron</strong> - Directed by Joss Whedon</li>
            <li class="list-group-item"><strong>Ant-Man</strong> - Directed by Peyton Reed</li>
        </ul>
    </section>
    

    <section class="container">
        <h2 class="h2">Phase 2 Overview</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <img src="/Images/3b5492-aou_master.jpeg" class="card-img-top" alt="Phase 2 Poster">
                    <div class="card-body">
                        <p class="card-text">Phase 2 of the Marvel Cinematic Universe continued to expand the universe with new heroes, villains, and storylines. It started with Iron Man 3 in 2013 and concluded with Ant-Man in 2015.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Phase 2 explored themes of power, responsibility, and the consequences of actions taken by Earth's mightiest heroes. It introduced the Guardians of the Galaxy and delved deeper into the Infinity Stones.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <footer>
        <p>&copy; 2024 Marvel Studios. All rights reserved.</p>
    </footer>

    <script src="/JS/scripts.js"></script>
    <script src="/JS/script.js"></script>
</body>
</html>

