/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/Images/ehjgk76y2kv41.jpg');
    margin: 0;
    font-family: Arial, sans-serif;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}

.form {
    background: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.form .email, .form .pass {
    margin-bottom: 20px;
    text-align: left;
}

.form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#submit-btn {
    width: 100%;
    padding: 10px;
    background: #4facfe;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#submit-btn:hover {
    background: #00f2fe;
}

p {
    margin: 20px 0 5px;
}

span a {
    color: #4facfe;
    text-decoration: none;
}

span a:hover {
    text-decoration: underline;
}
